[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
natsort = "*"
flask = "*"
flask-sqlalchemy = "*"
flask-restful = "*"
flask-cors = "*"
pathlib = "*"
pydub = "*"
requests = "*"
pytube = "*"
validators = "*"
werkzeug = "*"
bs4 = "*"
fleep = "*"
colorama = "*"
dotenv = "*"

[dev-packages]
natsort = "*"
flask = "*"
flask-sqlalchemy = "*"
flask-restful = "*"
flask-cors = "*"
pathlib = "*"
pydub = "*"

[requires]
python_version = "3.11"
